.all-products-section {
  margin: 8rem 20px 2rem 20px;
}

.products-wrapper {
   display: flex;
   gap: 10px;
}

.filter-wrapper{
  flex: 0.3;
   
}

.all-products{
  flex: 1;
}

.products-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  flex-wrap: wrap;
  padding: 1em 0.5em;
}

.badge-card {
  border-radius: 0;
  background-color: #fff;
  border: 0.5px solid var(--border-color);
}
 
.card-footer {
  padding: 0;
}

.btn-move-cart {
  border-radius: 0;
}

.all-products {
  background-color: var(--background-color);
  padding: 1em;
}

.badge {
  background-color: var(--primary-color);
}

.badge-card {
  box-shadow: none;
}

.new-badge .badge-h6 {
  border-radius: 0;
}

.new-badge .badge-h6:hover {
  background-color: var(--heart-icon-hover);
}

.free-badge {
  background-color: var(--primary-color);
  width: fit-content;
  left: 0;
}

.free-badge > .badge {
  margin-left: 0;
  background-color: transparent;
}
 
/*========Filter Responsive stuffs==============*/
.filter-icon-wrapper .filter-icon{
  font-size: 2.5rem;
}

.filter-wrapper{
  display: none;
}
.active-sidebar-filter{
  display: block;
  position: absolute;
  border-right: 1px solid var(--border-color);
  z-index: 111;
   height: 100%;
  width: 40%;
}

@media screen and (min-width: 976px) {

  .active-sidebar-filter{
    display: block;
    position: static;
    width: 25rem;
    z-index: 111;
  }

  .filter-wrapper {
     display: block;
  }
 
   .products-container {
     max-width: 900px;
     margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat( auto-fit, minmax(20rem, 1fr) );
    gap: 10px;
    flex-wrap: wrap;
    padding: 1em 0.5em;
  }
}

.filter-icon-wrapper{
  display: block;
}

@media screen  and (min-width: 976px) {
  .filter-icon-wrapper{
    display: none;
  }

}