.hero-section {
  margin-top: 4.4rem;
}

.hero-container {
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.hero-img-wrapper {
  height: 50rem;
  position: relative;
}

.hero-img {
  object-fit: cover;
  filter: grayscale(100%);
}

.hero-img:hover {
  filter: grayscale(1%);
}

.hero-content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.2s all;
  background-color: rgba(133, 133, 133, 0.335);
}

.hero-content-wrapper:hover {
  background-color: rgba(202, 202, 202, 0.39);
}

.hero-content {
  position: absolute;
  max-width: 500px;
  top: 14rem;
  left: 9rem;
  margin: 0 20px;
}


.hero-img {
  border-radius: 0;
  height: 100%;
  object-fit: cover;

}

.btn-shop {
  background: var(--primary-color);
  color: var(--text-color);
  margin-top: 2.5em;
  padding: 1em 2.3em;
  border-radius: 0;
  font-weight: 500;
}

.btn-shop:hover {
  background-color: var(--primary-hover);
}


@media screen and (min-width: 968px) {
  .hero-section {
    margin-top: 1.1rem;
  }


}

@media screen and (max-width: 700px) {
  .hero-content {
    top: 15rem;
    left: 0rem;
    text-align: center;
  }
}


.main-container {
  margin: 0 auto;
  padding: 0 4rem;
  max-width: 1300px;
}


.category-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  padding: 0 0 2em 0;

}

.category {
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
}


.category img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  filter: grayscale(150%);
  transition: 0.3s all;
  object-fit: cover;
}

.category-title {
  text-transform: uppercase;
}

.category img:hover {
  transform: scale(0.95);
  filter: grayscale(0%);
}

.category-content {
  color: var(--text-color);
  text-align: center;
  flex-direction: column;
  padding: 1.5em;
  position: absolute;
  bottom: 0;
  transition: 0.1s all;
  width: 100%;
  background-color: rgba(192, 192, 192, 0.301);
  backdrop-filter: blur(3px) saturate(180%);
    -webkit-backdrop-filter: blur(3px) saturate(180%);
    background-color: rgba(46, 46, 46, 0.322);
}

.btn-buy {
  margin-top: 1em;
  transition: 0.2s all;
  padding: .7em 1.5em;
  font-size: 1.4rem;
  background-color: var(--body-background);
}

.btn-buy:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
}


@media screen and (min-width: 968px) {
  .category-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}


.product-section {
  padding-bottom: 2rem;
}

.product-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 10px;
}

@media screen and (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}

@media screen and (min-width: 968px) {
  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

  }
}

.couples-section .section-heading{
  margin-bottom: .5rem ;
}

.couple-product-wrapper{
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 

.featured-product-card{
  max-height: 45rem;
  border: 1px solid var(--border-color);
}

.featured-product-image{
  border-radius: 0;
}

.featured-product-card .product-price{
  font-size: 1.3rem;
  margin: .5rem 0 0 0 ;
}