
   .form {
    background-color: var(--background-color);
    margin: 0 0.5em;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .btn-submit {
    border-radius: 0;
  }
  
  .input {
    padding: .6rem 1rem;
    border-radius: 0;
     
  }
  .form-label{
    font-size: 1.3rem;
  }
  ::placeholder{
    font-size: 1.2rem;
  }