 .category-container{
   margin-bottom: 3rem;
 }
 
 .category-card{
    position: relative;
 }
.category-card .category-title{
  color: var(--text-color);
}
 .category-card img{
    filter: grayscale(100%);
    border: none;
    transition: .3s all;
 }
.category-card img:hover{
  filter: grayscale(0);
  transform: scale(0.95);
}

 .category-card .card-content{
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(46, 46, 46, 0.322);
    right: 0;
    left: 0;
 }