.clear-filler {
  width: fit-content;
  border-bottom: 1px solid;
  cursor: pointer;
}

.sidebar-fillers .sidebar-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.sidebar-fillers .sidebar-header .large-heading{
   margin-bottom: 0;
}

.sidebar-fillers {
  background-color: var(--background-color);
  padding: 1em;
  height: max-content;
}

.sidebar-box {
  margin-bottom: 2rem;
  padding-bottom: .5rem;
  border-bottom: 0.5px solid var(--border-color);
}

.sidebar-box .large-heading {
  margin-bottom: 0.5em;
}

.sidebar-box ul li {
  margin-bottom: 0.5em;
  display: block;
}

.label {
  margin-left: 0.5rem;
}

.range-input {
  padding: 0;
  cursor: pointer;
}


/*--------Category---------------*/
.category-label{
  display: block;
}
.category-checkbox{
  margin-right: 1rem;
}

