footer {
    background-color: var(--bg-footer);
     
  }
  
  .footer-wrapper {
    display: grid;
    grid-template-columns: 100%; 
    gap: 2rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
  }
  .footer-content {
    padding: 1rem;
  }
  .footer-heading {
    font-size: 1.8rem;
    margin: .8rem 0;
  }
  .Copyright {
    text-align: center;
    background-color: rgba(54, 54, 54, 0.815);
    padding: 2rem;
    font-size: 1rem;
    color: #fff;
  }

  .category-list{
    margin-bottom: .6rem;
  }

  .payment-image{
    border-radius: 0;
  }
  
  @media screen and (min-width: 767px) {
    .footer-wrapper {
      grid-template-columns: 33% 33% 33%;
    }
  }
  

  .footer-right .icons{
    font-size: 1.5rem;
  }