 .cart-section {
    margin: 8rem 20px 2rem 20px;
 }

 .page-title {
    padding-top: 0;
 }

 .cart-wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
    max-width: 1500px;
 }

 .price-details {
    padding: 1rem 1rem 1rem 1rem;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.082);

 }
 .price-info{
    margin-top: 1rem;
 }
 .price-info .lists{
    font-size: 1.3rem;
    padding: .5rem 0;
    border-bottom: 1px solid var(--border-color);
 }

 .price-info .btn{
    margin-top: 2rem;
    width: 100%;
 }


 @media screen and (min-width: 867px){
   .cart-wrapper {
      display: grid;
      grid-template-columns: 70% 30%;
      gap: 1rem;
   }
 }